In [26]:
import pandas as pd

In [27]:
n10m2_A = 763  # ótimo
n10m2_B = 696  # ótimo
n15m3_A = 1006
n15m3_B = 1055
n15m4_A = 688
n15m4_B = 784
n29m4_A = 1459
n29m4_B = 1527
n29m6_A = 1101
nome_instancia = 3532523

lista_otimos = [
    n10m2_A,
    n10m2_B,
    n15m3_A,
    n15m3_B,
    n15m4_A,
    n15m4_B,
    n29m4_A,
    n29m4_B,
    n29m6_A
    # nome_instancia
]

lista_otimos

[763, 696, 1006, 1055, 688, 784, 1459, 1527, 1101]

In [28]:
def calcula_gap(opt, heuristica):
    return 100 * (heuristica - opt) / opt

In [29]:
instancias = ['n10m2_A', 'n10m2_B', 'n15m3_A', 'n15m3_B', 'n15m4_A', 'n15m4_B',
       'n29m4_A', 'n29m4_B', 'n29m6_A', 'n29m6_B', 'n40m5_A', 'n40m5_B',
       'n52m5_A', 'n52m5_B', 'n450m16_A', 'n500m10_A']
instancias

['n10m2_A',
 'n10m2_B',
 'n15m3_A',
 'n15m3_B',
 'n15m4_A',
 'n15m4_B',
 'n29m4_A',
 'n29m4_B',
 'n29m6_A',
 'n29m6_B',
 'n40m5_A',
 'n40m5_B',
 'n52m5_A',
 'n52m5_B',
 'n450m16_A',
 'n500m10_A']

In [30]:
custos_df = pd.read_csv("resultados/resultados_custo.csv")
construcao_df = pd.read_csv("resultados/resultados_construcao.csv")
vnd_df = pd.read_csv("resultados/resultados_vnd.csv")

tempos_custos_df = pd.read_csv("resultados/resultados_custo_tempo.csv")
tempos_construcao_df = pd.read_csv("resultados/resultados_construcao_tempo.csv")
tempos_vnd_df = pd.read_csv("resultados/resultados_vnd_tempo.csv")

In [31]:
custos_df = pd.read_csv("resultados/resultados_custo.csv")
custos_df

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A,n500m10_A
0,10,1,1,763.0,704.0,1176.0,1219.0,810.0,919.0,1928.0,1863.0,1469.8,1418.0,480.0,719.0,7988.8,9420.0,7906.4,7413.0
1,10,2,1,788.0,738.0,1035.0,1465.0,993.5,990.0,1574.0,1905.0,1530.0,1370.4,518.0,611.0,9256.4,9253.0,7536.1,7055.6

In [32]:
custos_df.T

                 0       1
exec_max      10.0    10.0
Iter_GRASP     1.0     2.0
Iter_ILS       1.0     1.0
n10m2_A      763.0   788.0
n10m2_B      704.0   738.0
n15m3_A     1176.0  1035.0
n15m3_B     1219.0  1465.0
n15m4_A      810.0   993.5
n15m4_B      919.0   990.0
n29m4_A     1928.0  1574.0
n29m4_B     1863.0  1905.0
n29m6_A     1469.8  1530.0
n29m6_B     1418.0  1370.4
n40m5_A      480.0   518.0
n40m5_B      719.0   611.0
n52m5_A     7988.8  9256.4
n52m5_B     9420.0  9253.0
n450m16_A   7906.4  7536.1
n500m10_A   7413.0  7055.6

In [33]:
print("Custo médio de todas as instancias:")

aux_df = custos_df.iloc[:, 3:]
n, _ = aux_df.shape

best_media = 999999
best_i = -1

for i in range(0, n):
    # desconsiderando os dois ultimos valores
    media_resultados_atual = aux_df.iloc[i, :].mean()
    print(f"Linha {i}, EXEC: {custos_df.iloc[i, 0]:>3}, GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {media_resultados_atual}")
    if aux_df.iloc[i, :].mean() < best_media:
        best_media = media_resultados_atual
        best_i = i

print(f"\nMelhor resultado: {best_media} na linha {best_i}")

Custo médio de todas as instancias:
Linha 0, EXEC:  10, GRAPS:   1, ILS:   1, 2887.3125
Linha 1, EXEC:  10, GRAPS:   2, ILS:   1, 2913.6875

Melhor resultado: 2887.3125 na linha 0

In [34]:
dict_ils = {"OPT": [], "VALOR_SOLUCAO":[], "GAP": [], "TEMPO": []}

len_lista_otimos = len(lista_otimos)
i = 0

for k, v in custos_df.iloc[best_i, 3:].items():
    dict_ils["OPT"].append(lista_otimos[i])
    dict_ils["VALOR_SOLUCAO"].append(v)
    dict_ils["GAP"].append(calcula_gap(lista_otimos[i], v))
    dict_ils["GAP"] = [round(float(x), 2) for x in dict_ils["GAP"]]
    dict_ils["TEMPO"].append(tempos_custos_df.iloc[best_i, 3 + i])

    for j in range(0, len(dict_ils["TEMPO"])):
        if dict_ils["TEMPO"][j] > 1000:
            dict_ils["TEMPO"][j] = 0

    i += 1

    if i == len_lista_otimos - 1:
        break

print("\nTabela de resultados para o ILS:")
tabela_ils = pd.DataFrame(dict_ils, index=custos_df.columns[3: len_lista_otimos - 1 + 3])
tabela_ils

Tabela de resultados para o ILS:

          OPT  VALOR_SOLUCAO    GAP     TEMPO
n10m2_A   763          763.0   0.00  0.000103
n10m2_B   696          704.0   1.15  0.001362
n15m3_A  1006         1176.0  16.90  0.000388
n15m3_B  1055         1219.0  15.55  0.002998
n15m4_A   688          810.0  17.73  0.003049
n15m4_B   784          919.0  17.22  0.003134
n29m4_A  1459         1928.0  32.15  0.003575
n29m4_B  1527         1863.0  22.00  0.003347

In [35]:
dict_vnd = {"OPT": [], "VALOR_SOLUCAO":[], "GAP": [], "TEMPO": []}

i = 0

for k, v in vnd_df.iloc[best_i, 3:].items():
    dict_vnd["OPT"].append(lista_otimos[i])
    dict_vnd["VALOR_SOLUCAO"].append(v)
    dict_vnd["GAP"].append(calcula_gap(lista_otimos[i], v))
    dict_vnd["GAP"] = [round(float(x), 2) for x in dict_vnd["GAP"]]
    dict_vnd["TEMPO"].append(tempos_vnd_df.iloc[best_i, 3 + i])

    for j in range(0, len(dict_vnd["TEMPO"])):
        if dict_vnd["TEMPO"][j] > 1000:
            dict_vnd["TEMPO"][j] = 0
    
    i += 1

    if i == len_lista_otimos - 1:
        break
    
print("\nTabela de resultados para o VND:")
tabela_vnd = pd.DataFrame(dict_vnd, index=custos_df.columns[3: len_lista_otimos - 1 + 3])
tabela_vnd

Tabela de resultados para o VND:

          OPT  VALOR_SOLUCAO    GAP  TEMPO
n10m2_A   763          763.0   0.00    0.0
n10m2_B   696          781.2  12.24    0.0
n15m3_A  1006         1176.0  16.90    0.0
n15m3_B  1055         1434.0  35.92    0.0
n15m4_A   688          870.0  26.45    0.0
n15m4_B   784          956.0  21.94    0.0
n29m4_A  1459         1943.0  33.17    0.0
n29m4_B  1527         2475.0  62.08    0.0

In [36]:
dict_construcao = {"OPT": [], "VALOR_SOLUCAO":[], "GAP": [], "TEMPO": []}

i = 0

for k, v in construcao_df.iloc[best_i, 3:].items():
    dict_construcao["OPT"].append(lista_otimos[i])
    dict_construcao["VALOR_SOLUCAO"].append(v)
    dict_construcao["GAP"].append(calcula_gap(lista_otimos[i], v))
    dict_vnd["GAP"] = [round(float(x), 2) for x in dict_vnd["GAP"]]
    dict_construcao["TEMPO"].append(tempos_construcao_df.iloc[best_i, 3 + i])

    for j in range(0, len(dict_construcao["TEMPO"])):
        if dict_construcao["TEMPO"][j] > 1000:
            dict_construcao["TEMPO"][j] = 0

    i += 1

    if i == len_lista_otimos - 1:
        break

tabela_construcao = pd.DataFrame(dict_construcao, index=custos_df.columns[3: len_lista_otimos - 1 + 3])
tabela_construcao

          OPT  VALOR_SOLUCAO        GAP  TEMPO
n10m2_A   763          784.0   2.752294    0.0
n10m2_B   696          887.0  27.442529    0.0
n15m3_A  1006         1686.0  67.594433    0.0
n15m3_B  1055         1434.0  35.924171    0.0
n15m4_A   688          905.0  31.540698    0.0
n15m4_B   784          956.0  21.938776    0.0
n29m4_A  1459         1943.0  33.173406    0.0
n29m4_B  1527         2475.0  62.082515    0.0