In [72]:
import pandas as pd

In [73]:
n10m2_A = 763  # ótimo
n10m2_B = 696  # ótimo
n15m3_A = 1006
n15m3_B = 1055
n15m4_A = 688
n15m4_B = 784
n29m4_A = 1459
n29m4_B = 1527
n29m6_A = 1101
nome_instancia = 3532523

lista_otimos = [
    n10m2_A,
    n10m2_B,
    n15m3_A,
    n15m3_B,
    n15m4_A,
    n15m4_B,
    n29m4_A,
    n29m4_B,
    n29m6_A
    # nome_instancia
]

lista_otimos

[763, 696, 1006, 1055, 688, 784, 1459, 1527, 1101]

In [74]:
def calcula_gap(opt, heuristica):
    return 100 * (heuristica - opt) / opt

In [75]:
instancias = ['n10m2_A', 'n10m2_B', 'n15m3_A', 'n15m3_B', 'n15m4_A', 'n15m4_B',
       'n29m4_A', 'n29m4_B', 'n29m6_A', 'n29m6_B', 'n40m5_A', 'n40m5_B',
       'n52m5_A', 'n52m5_B', 'n450m16_A', 'n500m10_A']
instancias

['n10m2_A',
 'n10m2_B',
 'n15m3_A',
 'n15m3_B',
 'n15m4_A',
 'n15m4_B',
 'n29m4_A',
 'n29m4_B',
 'n29m6_A',
 'n29m6_B',
 'n40m5_A',
 'n40m5_B',
 'n52m5_A',
 'n52m5_B',
 'n450m16_A',
 'n500m10_A']

In [76]:
pc_linux = "" # "/home/mikenew/projeto_APA/"

custos_df = pd.read_csv(pc_linux + "resultados/resultados_custo.csv")
construcao_df = pd.read_csv(pc_linux + "resultados/resultados_construcao.csv")
vnd_df = pd.read_csv(pc_linux + "resultados/resultados_VND.csv")

tempos_custos_df = pd.read_csv(pc_linux + "resultados/resultados_custo_tempo.csv")
tempos_construcao_df = pd.read_csv(pc_linux + "resultados/resultados_construcao_tempo.csv")
tempos_vnd_df = pd.read_csv(pc_linux + "resultados/resultados_VND_tempo.csv")

In [77]:
custos_df = pd.read_csv("resultados/resultados_custo.csv")
custos_df

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A,n500m10_A
0,10,1,1,763.0,704.0,1176.0,1219.0,810.0,919.0,1928.0,1863.0,1469.8,1418.0,480.0,719.0,7988.8,9420.0,7906.4,7413.0
1,10,2,1,788.0,738.0,1035.0,1465.0,993.5,990.0,1574.0,1905.0,1530.0,1370.4,518.0,611.0,9256.4,9253.0,7536.1,7055.6
2,10,256,8,763.0,696.0,1007.0,1055.0,720.0,799.0,1441.0,1527.0,1075.0,1091.0,448.0,584.0,6751.0,6845.0,6197.2,6385.0
3,10,256,12,763.0,696.0,1028.0,1059.0,697.0,801.0,1418.0,1501.0,1095.0,1095.0,447.0,574.0,6880.0,6768.0,6199.9,6429.4
4,10,512,8,763.0,696.0,1007.0,1055.0,699.0,794.0,1388.0,1497.0,1028.0,1068.0,434.0,563.0,6689.0,6772.0,6241.8,6344.3
5,10,500,16,763.0,696.0,1020.0,1057.0,701.0,787.0,1400.0,1489.0,1058.0,1038.0,441.0,572.0,6769.0,6854.0,6155.1,6197.5
6,10,256,14,763.0,696.0,1031.0,1055.0,730.0,802.0,1407.0,1518.0,1074.0,1104.0,440.0,562.0,6875.0,6676.0,6221.0,6464.0
7,10,256,8,763.0,696.0,1007.0,1058.0,731.0,787.0,1384.0,1514.0,1052.0,1081.0,450.0,573.0,6697.0,6731.0,6364.6,6317.0
8,10,300,4,763.0,696.0,1021.0,1055.0,716.0,784.0,1416.0,1485.0,1104.0,1147.0,450.0,558.0,6891.0,6753.0,6108.7,6182.0
9,10,300,4,763.0,696.0,1021.0,1058.0,699.0,784.0,1430.0,1517.0,1012.0,1091.0,444.0,590.0,6847.0,6831.0,6209.2,6404.8
10,10,300,4,763.0,696.0,1030.0,1054.0,731.0,784.0,1427.0,1529.0,1012.0,1064.0,442.0,595.0,6782.0,6872.5,6144.1,6304.3
11,10,300,6,763.0,696.0,1021.0,1055.0,731.0,811.0,1410.0,1499.0,1085.0,1090.0,441.0,569.0,6863.0,6817.0,6349.0,6254.5
12,10,300,6,763.0,696.0,1024.0,1058.0,720.0,815.0,1413.0,1514.0,1091.0,1089.0,450.0,557.0,6717.0,7030.0,6302.0,6175.0
13,10,256,6,763.0,696.0,1034.0,1057.0,716.0,803.0,1415.0,1521.0,1064.0,1127.0,445.0,585.0,6744.0,6989.0,6408.0,6438.9
14,10,256,8,763.0,696.0,1020.0,1058.0,720.0,794.0,1397.0,1544.0,1049.0,1097.0,442.0,576.0,6768.0,6760.0,6340.0,6415.0
15,10,256,8,763.0,696.0,1027.0,1055.0,731.0,802.0,1411.0,1515.0,1040.0,1067.0,436.0,581.0,6937.3,6941.0,6380.6,6459.5
16,10,128,4,763.0,696.0,1028.0,1077.0,752.0,801.0,1419.0,1511.0,1088.0,1148.0,448.0,578.0,6888.0,6731.0,6434.0,6461.7
17,10,64,2,763.0,696.0,1047.0,1078.0,731.0,850.0,1495.0,1542.0,1169.0,1117.0,452.0,605.0,7035.0,6886.0,6497.0,6460.0
18,10,64,4,763.0,696.0,1038.0,1093.0,731.0,812.0,1487.0,1550.0,1166.0,1077.0,452.0,565.0,7153.0,6864.0,6795.0,6548.0
19,10,64,4,763.0,696.0,1055.0,1059.0,704.0,813.0,1427.0,1569.0,1099.0,1099.0,444.0,594.0,6826.0,7061.0,6660.0,6438.0
20,10,128,4,763.0,696.0,1038.0,1059.0,789.0,801.0,1432.0,1504.0,1079.0,1138.0,456.0,592.0,7016.0,7096.0,6338.0,6449.7
21,10,512,8,763.0,696.0,1031.0,1059.0,720.0,794.0,1388.0,1501.0,1045.0,1073.0,439.0,567.0,6765.0,6748.0,6136.1,6250.2
22,10,512,8,763.0,696.0,1033.0,1075.0,716.0,787.0,1391.0,1502.0,1037.0,1075.0,438.0,573.0,6705.0,6670.0,6031.0,6242.2
23,10,512,8,763.0,696.0,1020.0,1058.0,699.0,794.0,1401.0,1480.0,1055.0,1114.0,440.0,578.0,6779.0,6780.0,6423.7,6256.6
24,10,350,4,763.0,696.0,1007.0,1055.0,731.0,817.0,1414.0,1488.0,1043.0,1078.0,427.0,586.0,6796.0,6886.0,6187.3,6224.0
25,10,350,4,763.0,696.0,1007.0,1058.0,731.0,817.0,1409.0,1488.0,1052.0,1073.0,447.0,586.0,6674.0,6792.0,6135.0,6243.0
26,10,350,4,763.0,696.0,1034.0,1075.0,704.0,814.0,1445.0,1506.0,1037.0,1073.0,447.0,571.0,6819.0,6730.0,6077.4,6298.2
27,10,350,4,765.0,696.0,1020.0,1059.0,731.0,812.0,1383.0,1510.0,1043.0,1131.0,451.0,573.0,6749.0,6854.0,6353.9,6357.1
28,10,300,4,763.0,696.0,1006.0,1065.0,720.0,794.0,1383.0,1510.0,1055.0,1123.0,438.0,578.0,6700.0,6845.0,6067.0,6445.0
29,10,300,4,763.0,696.0,1033.0,1067.0,720.0,794.0,1410.0,1517.0,1055.0,1119.0,438.0,585.0,7171.0,6842.0,6067.0,6390.0
30,10,300,4,763.0,696.0,1033.0,1067.0,721.0,811.0,1413.0,1540.0,1027.0,1119.0,441.0,584.0,6572.0,6843.0,6380.0,6262.6
31,10,256,4,763.0,696.0,1034.0,1059.0,730.0,813.0,1415.0,1509.0,1055.0,1103.0,447.0,567.0,6837.0,6877.0,6506.8,6404.5
32,10,256,4,763.0,696.0,1021.0,1059.0,731.0,815.0,1415.0,1501.0,1087.0,1098.0,442.0,567.0,6756.0,6794.0,6514.0,6260.0
33,10,256,4,763.0,696.0,1024.0,1059.0,730.0,794.0,1437.0,1523.0,1037.0,1098.0,444.0,569.0,7105.0,6926.0,6483.7,6260.0
34,1,350,4,763.0,696.0,1025.0,1059.0,720.0,789.0,1399.0,1488.0,1059.0,1108.0,437.0,563.0,6653.0,6825.0,6298.0,6336.0
35,1,350,4,763.0,696.0,1027.0,1055.0,731.0,813.0,1420.0,1492.0,1083.0,1104.0,433.0,567.0,6785.0,6913.0,5978.0,6222.0
36,1,512,8,763.0,696.0,1024.0,1056.0,731.0,794.0,1401.0,1491.0,1063.0,1045.0,440.0,558.0,6587.0,6616.0,5623.0,6031.0
37,1,512,8,763.0,696.0,1020.0,1055.0,699.0,811.0,1403.0,1492.0,1006.0,1076.0,436.0,565.0,6652.0,6627.0,5883.0,6077.0
38,1,512,8,763.0,696.0,1021.0,1056.0,699.0,806.0,1403.0,1480.0,1067.0,1086.0,441.0,563.0,6615.0,6627.0,6040.0,6177.0
39,1,512,8,763.0,696.0,1028.0,1055.0,725.0,794.0,1375.0,1482.0,1085.0,1065.0,439.0,562.0,6617.0,6743.0,5902.0,6031.0

In [78]:
custos_df.T

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
exec_max,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,10.0,1.0,1.0,1.0,1.0,1.0,1.0
Iter_GRASP,1.0,2.0,256.0,256.0,512.0,500.0,256.0,256.0,300.0,300.0,...,300.0,256.0,256.0,256.0,350.0,350.0,512.0,512.0,512.0,512.0
Iter_ILS,1.0,1.0,8.0,12.0,8.0,16.0,14.0,8.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,8.0,8.0,8.0,8.0
n10m2_A,763.0,788.0,763.0,763.0,763.0,763.0,763.0,763.0,763.0,763.0,...,763.0,763.0,763.0,763.0,763.0,763.0,763.0,763.0,763.0,763.0
n10m2_B,704.0,738.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,...,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0
n15m3_A,1176.0,1035.0,1007.0,1028.0,1007.0,1020.0,1031.0,1007.0,1021.0,1021.0,...,1033.0,1034.0,1021.0,1024.0,1025.0,1027.0,1024.0,1020.0,1021.0,1028.0
n15m3_B,1219.0,1465.0,1055.0,1059.0,1055.0,1057.0,1055.0,1058.0,1055.0,1058.0,...,1067.0,1059.0,1059.0,1059.0,1059.0,1055.0,1056.0,1055.0,1056.0,1055.0
n15m4_A,810.0,993.5,720.0,697.0,699.0,701.0,730.0,731.0,716.0,699.0,...,721.0,730.0,731.0,730.0,720.0,731.0,731.0,699.0,699.0,725.0
n15m4_B,919.0,990.0,799.0,801.0,794.0,787.0,802.0,787.0,784.0,784.0,...,811.0,813.0,815.0,794.0,789.0,813.0,794.0,811.0,806.0,794.0
n29m4_A,1928.0,1574.0,1441.0,1418.0,1388.0,1400.0,1407.0,1384.0,1416.0,1430.0,...,1413.0,1415.0,1415.0,1437.0,1399.0,1420.0,1401.0,1403.0,1403.0,1375.0
n29m4_B,1863.0,1905.0,1527.0,1501.0,1497.0,1489.0,1518.0,1514.0,1485.0,1517.0,...,1540.0,1509.0,1501.0,1523.0,1488.0,1492.0,1491.0,1492.0,1480.0,1482.0
n29m6_A,1469.8,1530.0,1075.0,1095.0,1028.0,1058.0,1074.0,1052.0,1104.0,1012.0,...,1027.0,1055.0,1087.0,1037.0,1059.0,1083.0,1063.0,1006.0,1067.0,1085.0
n29m6_B,1418.0,1370.4,1091.0,1095.0,1068.0,1038.0,1104.0,1081.0,1147.0,1091.0,...,1119.0,1103.0,1098.0,1098.0,1108.0,1104.0,1045.0,1076.0,1086.0,1065.0
n40m5_A,480.0,518.0,448.0,447.0,434.0,441.0,440.0,450.0,450.0,444.0,...,441.0,447.0,442.0,444.0,437.0,433.0,440.0,436.0,441.0,439.0
n40m5_B,719.0,611.0,584.0,574.0,563.0,572.0,562.0,573.0,558.0,590.0,...,584.0,567.0,567.0,569.0,563.0,567.0,558.0,565.0,563.0,562.0
n52m5_A,7988.8,9256.4,6751.0,6880.0,6689.0,6769.0,6875.0,6697.0,6891.0,6847.0,...,6572.0,6837.0,6756.0,7105.0,6653.0,6785.0,6587.0,6652.0,6615.0,6617.0
n52m5_B,9420.0,9253.0,6845.0,6768.0,6772.0,6854.0,6676.0,6731.0,6753.0,6831.0,...,6843.0,6877.0,6794.0,6926.0,6825.0,6913.0,6616.0,6627.0,6627.0,6743.0
n450m16_A,7906.4,7536.1,6197.2,6199.9,6241.8,6155.1,6221.0,6364.6,6108.7,6209.2,...,6380.0,6506.8,6514.0,6483.7,6298.0,5978.0,5623.0,5883.0,6040.0,5902.0
n500m10_A,7413.0,7055.6,6385.0,6429.4,6344.3,6197.5,6464.0,6317.0,6182.0,6404.8,...,6262.6,6404.5,6260.0,6260.0,6336.0,6222.0,6031.0,6077.0,6177.0,6031.0

In [79]:
print("Custo médio de todas as instancias:")

aux_df = custos_df.iloc[:, 3:]
n, _ = aux_df.shape

best_media = 999999
best_i = -1

for i in range(0, n):
    # desconsiderando os dois ultimos valores
    media_resultados_atual = aux_df.iloc[i, :].mean()
    print(f"Linha {i}, EXEC: {custos_df.iloc[i, 0]:>3}, GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {media_resultados_atual}")
    if aux_df.iloc[i, :].mean() < best_media:
        best_media = media_resultados_atual
        best_i = i

print(f"\nMelhor resultado: {best_media} na linha {best_i}")

Custo médio de todas as instancias:
Linha 0, EXEC:  10, GRAPS:   1, ILS:   1, 2887.3125
Linha 1, EXEC:  10, GRAPS:   2, ILS:   1, 2913.6875
Linha 2, EXEC:  10, GRAPS: 256, ILS:   8, 2336.5125
Linha 3, EXEC:  10, GRAPS: 256, ILS:  12, 2340.70625
Linha 4, EXEC:  10, GRAPS: 512, ILS:   8, 2314.94375
Linha 5, EXEC:  10, GRAPS: 500, ILS:  16, 2312.35
Linha 6, EXEC:  10, GRAPS: 256, ILS:  14, 2338.625
Linha 7, EXEC:  10, GRAPS: 256, ILS:   8, 2325.35
Linha 8, EXEC:  10, GRAPS: 300, ILS:   4, 2320.60625
Linha 9, EXEC:  10, GRAPS: 300, ILS:   4, 2337.3125
Linha 10, EXEC:  10, GRAPS: 300, ILS:   4, 2326.86875
Linha 11, EXEC:  10, GRAPS: 300, ILS:   6, 2340.90625
Linha 12, EXEC:  10, GRAPS: 300, ILS:   6, 2338.375
Linha 13, EXEC:  10, GRAPS: 256, ILS:   6, 2362.86875
Linha 14, EXEC:  10, GRAPS: 256, ILS:   8, 2339.9375
Linha 15, EXEC:  10, GRAPS: 256, ILS:   8, 2365.15
Linha 16, EXEC:  10, GRAPS: 128, ILS:   4, 2363.98125
Linha 17, EXEC:  10, GRAPS:  64, ILS:   2, 2401.4375
Linha 18, EXEC:  10, GRAPS:  64, ILS:   4, 2424.375
Linha 19, EXEC:  10, GRAPS:  64, ILS:   4, 2394.1875
Linha 20, EXEC:  10, GRAPS: 128, ILS:   4, 2390.41875
Linha 21, EXEC:  10, GRAPS: 512, ILS:   8, 2310.9562499999997
Linha 22, EXEC:  10, GRAPS: 512, ILS:   8, 2295.8875
Linha 23, EXEC:  10, GRAPS: 512, ILS:   8, 2333.58125
Linha 24, EXEC:  10, GRAPS: 350, ILS:   4, 2324.89375
Linha 25, EXEC:  10, GRAPS: 350, ILS:   4, 2310.6875
Linha 26, EXEC:  10, GRAPS: 350, ILS:   4, 2318.1
Linha 27, EXEC:  10, GRAPS: 350, ILS:   4, 2343.0
Linha 28, EXEC:  10, GRAPS: 300, ILS:   4, 2324.25
Linha 29, EXEC:  10, GRAPS: 300, ILS:   4, 2354.1875
Linha 30, EXEC:  10, GRAPS: 300, ILS:   4, 2329.5375
Linha 31, EXEC:  10, GRAPS: 256, ILS:   4, 2363.51875
Linha 32, EXEC:  10, GRAPS: 256, ILS:   4, 2344.9375
Linha 33, EXEC:  10, GRAPS: 256, ILS:   4, 2371.79375
Linha 34, EXEC:   1, GRAPS: 350, ILS:   4, 2326.125
Linha 35, EXEC:   1, GRAPS: 350, ILS:   4, 2317.625
Linha 36, EXEC:   1, GRAPS: 512, ILS:   8, 2244.9375
Linha 37, EXEC:   1, GRAPS: 512, ILS:   8, 2266.3125
Linha 38, EXEC:   1, GRAPS: 512, ILS:   8, 2283.75
Linha 39, EXEC:   1, GRAPS: 512, ILS:   8, 2272.625

Melhor resultado: 2244.9375 na linha 36

In [80]:
dict_ils = {"OPT": [], "VALOR_SOLUCAO":[], "GAP": [], "TEMPO": []}

len_lista_otimos = len(lista_otimos)
i = 0

for k, v in custos_df.iloc[best_i, 3:].items():
    dict_ils["OPT"].append(lista_otimos[i])
    dict_ils["VALOR_SOLUCAO"].append(v)
    dict_ils["GAP"].append(calcula_gap(lista_otimos[i], v))
    dict_ils["GAP"] = [round(float(x), 2) for x in dict_ils["GAP"]]
    dict_ils["TEMPO"].append(tempos_custos_df.iloc[best_i, 3 + i])

    for j in range(0, len(dict_ils["TEMPO"])):
        if dict_ils["TEMPO"][j] > 1000:
            dict_ils["TEMPO"][j] = 0

    i += 1

    if i == len_lista_otimos - 1:
        break

print("\nTabela de resultados para o ILS:")
tabela_ils = pd.DataFrame(dict_ils, index=custos_df.columns[3: len_lista_otimos - 1 + 3])
tabela_ils

Tabela de resultados para o ILS:

          OPT  VALOR_SOLUCAO   GAP     TEMPO
n10m2_A   763          763.0  0.00  0.108330
n10m2_B   696          696.0  0.00  0.078425
n15m3_A  1006         1024.0  1.79  0.137533
n15m3_B  1055         1056.0  0.09  0.147745
n15m4_A   688          731.0  6.25  0.148102
n15m4_B   784          794.0  1.28  0.142000
n29m4_A  1459         1401.0 -3.98  0.448532
n29m4_B  1527         1491.0 -2.36  0.465607

In [81]:
dict_vnd = {"OPT": [], "VALOR_SOLUCAO":[], "GAP": [], "TEMPO": []}

i = 0

for k, v in vnd_df.iloc[best_i, 3:].items():
    dict_vnd["OPT"].append(lista_otimos[i])
    dict_vnd["VALOR_SOLUCAO"].append(v)
    dict_vnd["GAP"].append(calcula_gap(lista_otimos[i], v))
    dict_vnd["GAP"] = [round(float(x), 2) for x in dict_vnd["GAP"]]
    dict_vnd["TEMPO"].append(tempos_vnd_df.iloc[best_i, 3 + i])

    for j in range(0, len(dict_vnd["TEMPO"])):
        if dict_vnd["TEMPO"][j] > 1000:
            dict_vnd["TEMPO"][j] = 0
    
    i += 1

    if i == len_lista_otimos - 1:
        break
    
print("\nTabela de resultados para o VND:")
tabela_vnd = pd.DataFrame(dict_vnd, index=custos_df.columns[3: len_lista_otimos - 1 + 3])
tabela_vnd

Tabela de resultados para o VND:

          OPT  VALOR_SOLUCAO    GAP  TEMPO
n10m2_A   763          886.0  16.12    0.0
n10m2_B   696          741.0   6.47    0.0
n15m3_A  1006         1279.0  27.14    0.0
n15m3_B  1055         1366.0  29.48    0.0
n15m4_A   688         1001.0  45.49    0.0
n15m4_B   784         1107.0  41.20    0.0
n29m4_A  1459         2200.0  50.79    0.0
n29m4_B  1527         1920.0  25.74    0.0

In [82]:
dict_construcao = {"OPT": [], "VALOR_SOLUCAO":[], "GAP": [], "TEMPO": []}

i = 0

for k, v in construcao_df.iloc[best_i, 3:].items():
    dict_construcao["OPT"].append(lista_otimos[i])
    dict_construcao["VALOR_SOLUCAO"].append(v)
    dict_construcao["GAP"].append(calcula_gap(lista_otimos[i], v))
    dict_construcao["GAP"] = [round(float(x), 2) for x in dict_construcao["GAP"]]
    dict_construcao["TEMPO"].append(tempos_construcao_df.iloc[best_i, 3 + i])

    for j in range(0, len(dict_construcao["TEMPO"])):
        if dict_construcao["TEMPO"][j] > 1000:
            dict_construcao["TEMPO"][j] = 0

    i += 1

    if i == len_lista_otimos - 1:
        break

print("\nTabela de resultados para a Construção:")
tabela_construcao = pd.DataFrame(dict_construcao, index=custos_df.columns[3: len_lista_otimos - 1 + 3])
tabela_construcao

Tabela de resultados para a Construção:

          OPT  VALOR_SOLUCAO    GAP  TEMPO
n10m2_A   763         1064.0  39.45    0.0
n10m2_B   696          845.0  21.41    0.0
n15m3_A  1006         1279.0  27.14    0.0
n15m3_B  1055         1396.0  32.32    0.0
n15m4_A   688         1001.0  45.49    0.0
n15m4_B   784         1129.0  44.01    0.0
n29m4_A  1459         2231.0  52.91    0.0
n29m4_B  1527         1920.0  25.74    0.0