In [140]:
import pandas as pd

In [143]:
custos_df = pd.read_csv("resultados/resultados_custo.csv")
custos_df

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A.txt,n500m10_A
0,1,3,2,1060.0,741.0,1218.00,1189.00,951.000,970.0,1597.000,1861.000,1356.00,1488.00,555.00,719.00,8813.000,8193.00,9999.0,9999.0
1,5,8,4,780.0,696.0,1222.00,1105.00,886.000,838.0,1590.000,1796.000,1210.00,1198.00,430.00,647.00,7480.000,8563.00,7341.0,6552.2
2,10,16,4,788.0,704.0,1078.00,1113.30,813.000,902.0,1497.000,1646.000,1442.00,1238.00,536.30,626.00,7448.600,7415.00,9999.0,9999.0
3,10,32,4,775.0,704.0,1099.00,1082.00,858.600,822.0,1484.400,1663.400,1290.80,1226.00,506.00,584.10,7180.000,6849.00,6700.1,6495.2
4,10,32,8,798.0,704.0,1062.00,1082.00,870.000,914.0,1563.000,1580.000,1239.00,1122.00,486.00,627.10,7222.000,7034.00,9999.0,9999.0
5,10,64,4,763.0,696.0,1131.00,1075.00,795.000,822.0,1448.000,1590.000,1128.00,1293.00,440.00,626.00,6752.000,6822.00,9999.0,9999.0
6,10,64,8,763.0,696.0,1057.00,1095.00,731.000,822.0,1411.000,1499.000,1162.00,1123.00,467.00,578.00,6969.000,7062.00,9999.0,9999.0
7,10,64,1,763.0,696.0,1034.00,1131.00,731.000,822.0,1508.000,1627.000,1204.00,1207.00,476.00,616.50,6969.000,6869.00,9999.0,9999.0
8,10,128,4,763.0,696.0,1034.00,1059.00,731.000,822.0,1499.000,1607.000,1112.00,1148.00,467.00,615.00,7171.000,7122.80,9999.0,9999.0
9,10,64,4,763.0,696.0,1055.00,1075.00,731.000,822.0,1499.000,1610.000,1067.00,1148.00,476.00,622.20,7345.700,7140.00,9999.0,9999.0
10,10,64,4,763.0,696.0,1123.00,1113.00,810.000,822.0,1470.000,1586.000,1190.00,1148.00,473.00,584.00,7170.000,7288.00,9999.0,9999.0
11,10,64,16,763.0,696.0,1040.00,1083.30,750.000,801.0,1522.000,1543.000,1109.00,1163.00,471.00,635.00,7041.000,6964.00,9999.0,9999.0
12,10,80,8,764.6,696.0,1038.00,1077.00,795.000,801.0,1573.000,1539.000,1095.00,1170.60,459.00,573.00,6954.700,6990.00,9999.0,9999.0
13,10,80,8,763.0,696.0,1049.00,1076.00,731.000,822.0,1483.000,1592.400,1155.00,1175.40,476.00,606.00,6877.000,7242.00,9999.0,9999.0
14,100,64,4,763.0,696.0,1058.00,1078.00,744.000,801.0,1555.000,1595.000,1050.00,1222.40,476.81,607.52,6825.000,7097.69,9999.0,9999.0
15,100,64,8,765.0,696.0,1066.40,1105.00,731.000,902.0,1465.800,1572.940,1125.00,1143.70,450.00,605.46,6864.680,7311.50,9999.0,9999.0
16,100,32,4,763.0,704.0,1078.63,1131.27,812.490,822.0,1618.000,1658.060,1186.64,1274.81,481.85,609.38,6963.450,7186.97,9999.0,9999.0
17,100,32,8,774.0,699.0,1097.74,1158.00,795.000,801.0,1535.450,1659.000,1184.35,1230.27,469.13,596.36,7548.210,7042.71,9999.0,9999.0
18,200,64,4,763.0,696.0,1046.00,1113.00,744.195,827.0,1476.000,1708.380,1139.27,1193.40,455.39,623.47,6921.745,7244.12,9999.0,9999.0
19,200,64,8,763.0,696.0,1097.50,1076.23,808.500,822.0,1537.755,1634.625,1146.60,1163.31,458.26,620.95,7024.820,7166.77,9999.0,9999.0
20,10,64,4,775.0,696.0,1054.00,1076.00,795.000,822.0,1504.000,1616.300,1155.90,1256.00,436.00,596.00,6989.200,7279.30,6564.3,6475.8

In [142]:
print("Custo médio de todas as instancias:")

# custos_df = custos_df.sort_values(by=[custos_df.columns[0], custos_df.columns[1] ,custos_df.columns[2]])

aux_df = custos_df.iloc[:, 3:]
n, _ = aux_df.shape

for i in range(0, n):
    # desconsiderando os dois ultimos valores
    print(f"EXEC: {custos_df.iloc[i, 0]:>3}, GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {aux_df.iloc[i, :].mean()}")

Custo médio de todas as instancias:
EXEC:   1, GRAPS:   3, ILS:   2, 3169.3125
EXEC:   5, GRAPS:   8, ILS:   4, 2645.8875
EXEC:  10, GRAPS:  16, ILS:   4, 2952.825
EXEC:  10, GRAPS:  32, ILS:   4, 2457.475
EXEC:  10, GRAPS:  32, ILS:   8, 2893.81875
EXEC:  10, GRAPS:  64, ILS:   4, 2836.1875
EXEC:  10, GRAPS:  64, ILS:   8, 2839.5625
EXEC:  10, GRAPS:  64, ILS:   1, 2853.21875
EXEC:  10, GRAPS: 128, ILS:   4, 2865.3
EXEC:  10, GRAPS:  64, ILS:   4, 2877.99375
EXEC:  10, GRAPS:  64, ILS:   4, 2889.625
EXEC:  10, GRAPS:  64, ILS:  16, 2848.70625
EXEC:  10, GRAPS:  80, ILS:   8, 2845.24375
EXEC:  10, GRAPS:  80, ILS:   8, 2858.8625
EXEC: 100, GRAPS:  64, ILS:   4, 2847.96375
EXEC: 100, GRAPS:  64, ILS:   8, 2862.6549999999997
EXEC: 100, GRAPS:  32, ILS:   4, 2893.034375
EXEC: 100, GRAPS:  32, ILS:   8, 2911.76375
EXEC: 200, GRAPS:  64, ILS:   4, 2871.810625
EXEC: 200, GRAPS:  64, ILS:   8, 2875.8950000000004
EXEC:  10, GRAPS:  64, ILS:   4, 2443.1749999999997

In [136]:
construcao_df = pd.read_csv("resultados/resultados_construcao.csv")
construcao_df.head()

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A.txt,n500m10_A
0,1,0,0,1247.0,741.0,1813.0,1257.0,951.0,1653.0,2333.0,2306.0,2000.0,1613.0,655.0,922.0,10375.0,8776.0,9999.0,9999.0
1,5,0,0,917.0,755.0,1480.0,1790.8,926.0,1003.0,2316.0,1796.0,1498.0,1198.0,638.8,989.0,8627.4,9578.0,9411.2,7372.0
2,10,0,0,952.0,870.0,1440.0,1240.6,1079.0,1212.2,1956.5,2458.5,1678.0,1640.7,600.6,834.0,9796.7,10240.2,9999.0,9999.0
3,10,0,0,1148.0,1035.0,1222.2,1206.0,958.4,1232.5,1980.4,1903.2,1339.2,1393.5,567.3,845.9,9372.6,9344.9,8874.3,7435.9
4,10,0,0,820.0,968.0,1360.0,1392.7,1136.0,961.0,2365.9,2121.6,1925.0,1841.3,615.0,941.0,9509.9,9475.9,9999.0,9999.0

In [144]:
print("Custo Construcao médio de todas as instancias:")
aux_df = construcao_df.iloc[:, 3:]
n, _ = aux_df.shape
for i in range(0, n):
    # desconsiderando os dois ultimos valores
    print(f"GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {aux_df.iloc[i, :].mean()}")

Custo Construcao médio de todas as instancias:
GRAPS:   3, ILS:   2, 3540.0
GRAPS:   8, ILS:   4, 3143.5125
GRAPS:  16, ILS:   4, 3499.8125
GRAPS:  32, ILS:   4, 3116.2062499999997
GRAPS:  32, ILS:   8, 3464.45625
GRAPS:  64, ILS:   4, 3423.30625
GRAPS:  64, ILS:   8, 3409.40625
GRAPS:  64, ILS:   1, 3488.4
GRAPS: 128, ILS:   4, 3449.3375
GRAPS:  64, ILS:   4, 3300.6
GRAPS:  64, ILS:   4, 3475.775
GRAPS:  64, ILS:  16, 3396.2437499999996
GRAPS:  80, ILS:   8, 3430.03125
GRAPS:  80, ILS:   8, 3430.2250000000004
GRAPS:  64, ILS:   4, 3437.0875
GRAPS:  64, ILS:   8, 3469.625
GRAPS:  32, ILS:   4, 3425.045
GRAPS:  32, ILS:   8, 3415.024375
GRAPS:  64, ILS:   4, 3413.8934375
GRAPS:  64, ILS:   8, 3431.2631250000004
GRAPS:  64, ILS:   4, 3222.275

In [145]:
tempos_df = pd.read_csv('resultados/resultados_tempo.csv')
tempos_df.head()

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A.txt,n500m10_A
0,1,3,2,0.003977,0.000000,0.005596,0.006069,0.004005,0.005626,0.012650,0.012031,0.021676,0.008071,0.024002,0.024160,0.033931,0.036196,9999.000000,9999.000000
1,5,8,4,0.007145,0.013178,0.018017,0.018778,0.016230,0.015558,0.061239,0.035637,0.047259,0.031013,0.118062,0.078883,0.126460,0.127378,10.288483,11.344789
2,10,16,4,0.008663,0.016561,0.021257,0.023490,0.024112,0.028939,0.074713,0.085912,0.087692,0.076468,0.145512,0.162800,0.260618,0.284789,9999.000000,9999.000000
3,10,32,4,0.027951,0.028276,0.041226,0.038207,0.036773,0.045806,0.142908,0.151440,0.136709,0.152425,0.321618,0.331294,0.529040,0.549717,38.651619,33.511684
4,10,32,8,0.013944,0.016616,0.028663,0.033602,0.037562,0.025881,0.131153,0.119872,0.106494,0.113504,0.229658,0.272253,0.430210,0.384629,9999.000000,9999.000000

In [146]:
print("Tempo médio de todas as instancias:")
aux_df = tempos_df.iloc[:, 3:]
n, _ = aux_df.shape
for i in range(0, n):
    # desconsiderando os dois ultimos valores
    print(f"GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {aux_df.iloc[i, :].mean()}")

Tempo médio de todas as instancias:
GRAPS:   3, ILS:   2, 1249.887374375
GRAPS:   8, ILS:   4, 1.3967568125
GRAPS:  16, ILS:   4, 1249.956345375
GRAPS:  32, ILS:   4, 4.6685433125
GRAPS:  32, ILS:   8, 1249.9965025625002
GRAPS:  64, ILS:   4, 1250.0045161875
GRAPS:  64, ILS:   8, 1250.088513125
GRAPS:  64, ILS:   1, 1249.937863375
GRAPS: 128, ILS:   4, 1250.1234358125
GRAPS:  64, ILS:   4, 1250.004072625
GRAPS:  64, ILS:   4, 1250.0082296875
GRAPS:  64, ILS:  16, 1250.2518403125
GRAPS:  80, ILS:   8, 1250.1378898125
GRAPS:  80, ILS:   8, 1250.138416625
GRAPS:  64, ILS:   4, 1250.0059478125
GRAPS:  64, ILS:   8, 1250.0945785
GRAPS:  32, ILS:   4, 1249.943227
GRAPS:  32, ILS:   8, 1249.9854155624998
GRAPS:  64, ILS:   4, 1250.004777875
GRAPS:  64, ILS:   8, 1250.0860937500001
GRAPS:  64, ILS:   4, 4.2505976875